
h2, h4, h5, h6 {
  font-family: "Playfair Display SC", serif;
  color: #333333; }


h1, h3 {
  font-family: "Playfair Display SC", serif;
  color: #333333;
}

a, li {
  font-family: "Lato", Arial, sans-serif;
  color: #4e4e4e;
  font-size: 1em;
  line-height: 1.75em; }

  p {
    font-family: "Lato", Arial, sans-serif;
    color: #333333;
  }

a:hover {
  text-decoration: none !important;
  color: #333333 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.profile-pic {
  width: 150px;
  height: 150px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container {
  margin: auto;
  max-width: 662px;
  padding: 0px 20px; }

@media only screen and (max-width: 767px) {
  .intro img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  footer {
    text-align: center; } }
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

.main-nav {
  background: #8fc1e3;
  padding-top: 23px; }
  .main-nav nav ul li a {
    color: #f7f9fb; }
  .main-nav nav ul li.active a {
    color: #4d4d4d; }

.section.second {
  margin-bottom: 90px; }
.section .container {
  position: relative; }
/*  .section .container:after {
    position: absolute;
    content: url(../img/divider.png);
    left: 20px
   } */
  .section .container h1 {
    text-transform: uppercase;
    margin-bottom: 0px;
    position: relative; }

.intro {
  /*padding: 95px 0px 70px 0px;*/
  background-color: #333;
  /*background: url(../img/bg_intro.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px 0px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow-x: hidden; }
  .intro .wrap {
    margin: 0px 0px;
  }
  .intro h1:before {
    position: absolute;
    left: -220px;
    top: -150px;
    font-size: 270px;
    z-index: -1;
    color: #f7f9fb; }
  .intro h1 span {
    font-size: 47px; }
  .intro h3:before {
    position: absolute;
    font-size: 140px;
    color: #f7f9fb;}
  .intro h3 span {
    font-size: 25px;}

    .about {
      margin-left: 0px;
    }

.work .work-list {
  margin-left: 0px; }
  .work .work-list li {
    list-style: none;
    font-size: 0.9375em;
    color: #8c8c8c; }
    .work .work-list li a {
      padding-bottom: 5px;
      font-size: 1.1875em;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #b3b3b3; }
      .work .work-list li a:hover {
        border-bottom: 1px solid #333333; }

.award .award-list {
  margin-left: 0px; }
  .award .award-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.education .education-list{
  margin-left: 0px; }
  .education .education-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }
    .education .education-list li a {
      padding-bottom: 5px;
      font-size: 1.1875em;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #b3b3b3; }
      .education .education-list li a:hover {
        border-bottom: 1px solid #333333; }

.skills .skill-list {
  margin-left: 0px; }
  .skills .skill-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.quote {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 20px 0px;
  margin-top: 120px; }
  .quote h1 {
    margin: 100px 0px;
    padding: 40px 20px;
    border: 5px solid #fff;
    color: #fff; }

footer {
  padding: 50px 0px 0px 0px; }
  footer .social li {
    display: inline;
    margin-left: 20px; }
    footer .social li a {
      font-size: 1.25em;
      color: #999999; }

header {
  padding: 0px 0px 0px 0px;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
    cursor: default;
    color: #4A8CFF;
}

ul {
  list-style-type: none !important;
}

ul > li > h1:before {
  content: '-' !important; /* en dash */
  position: absolute !important;
  margin-left: -1.1em !important;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.footer-text {
 color: #4d4d4d;
}


.wrapper {
  width:500px;
  margin:0 auto;
  position: relative;
  text-align:center;
}

.textintro {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6rem;
  position: relative;
  /* display:inline-block; */
  color: transparent;
  margin-bottom: 0;
  /*span {
   display:block;
   transition:all 0.3s;
   &:hover:before {
   }
   &:hover:after {
   top:14px;
   cursor:pointer;
   }
   }*/
}
.textintro:before {
  content: "Shatter";
  position: absolute;
  top: 0px;
  left: 22px;
  color: white;
  clip-path: inset(0px 298px 0px 0px);
  transition: all 0.3s;
}
.textintro span:before {
  content: "Shatter";
  position: absolute;
  top: 0px;
  left: 22px;
  color: white;
  clip-path: inset(0px 200px 0px 154px);
  transition: all 0.3s;
}
.textintro:after {
  content: "Shatter";
  position: absolute;
  right: 24px;
  top: 0px;
  color: white;
  clip-path: inset(0px 100px 0px 250px);
  transition: all 0.5s;
}
.textintro span:after {
  content: "Shatter";
  position: absolute;
  right: 24px;
  top: 0px;
  color: white;
  clip-path: inset(0px 0px 0px 353px);
  transition: all 0.5s;
}
.textintro:hover:after {
  top: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.textintro:hover:before {
  top: -10px;
  left: 0px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.textintro:hover span:before {
  top: 4px;
  cursor: pointer;
}
.textintro:hover span:after {
  top: -8px;
  left: 30px;
  cursor: pointer;
}
.textsub {
  color: black;
}

